body{
    background-image:url(/Dz_5/img/background.png);
    background-size: 100%;
}

.container {
    width: 1366px;
    margin: 0 auto;
  }

.header-logo{
    display: flex;
    margin-left: 161px;
    margin-right: 177px;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom:22px ;
}

.header-logo .img:hover{
    filter: sepia(1) hue-rotate(313deg) saturate(550); 
}



.header-logo .header-logo-text{
    float: right;
    margin-right: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
    
}

.header-logo .header-logo-text .header-logo-text1{
    margin-right: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
}

.header-logo .header-logo-text .header-logo-text2{
    margin-right: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.header-logo .header-logo-text:hover{
    color:  #F26522;
    
}

.header-logo .header-logo-contacts{
    margin: 0px;
    text-align: end;
}

.header-logo .header-logo-contacts a{
    color: white;
    margin: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
    
}

.header-logo .header-logo-contacts a:hover{
    color: #F26522;
}

.section .section-gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: fit-content;
    margin: auto;
    gap: 60px;

}

.section .section-gallery:hover{
    color: #F26522;

}



.section-content .holder 
{
    position:absolute;
    
}

.block{

    position:absolute;
    left:0;
    bottom:0;
    right:0;
    background:#F26522;
    display: none;
    width: 297px;
    height: 55px;
    padding-left: 7px;
    
}
.holder:hover .block{ 
    display:block;
}

.block .block-text{
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "text1 text1"
    "text2 text3";
        
}

.text1{ 
    grid-area: text1;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    margin-top: 5px;
}

.text2{
    grid-area: text2;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.text3{
    grid-area: text3 ;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.text3::after{
    content: "View Detail   >";
}


.section-gallery .section-content-text:hover{
    color: #F26522;
}

.section-gallery .section-content-text{
    color: white;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-decoration: none;
}



.footer{
    color: white;
    text-align: center;
    margin-top: 49px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}



