body{
    background-image: url(/Dz_6/img/Background-img.png);
    background-size: 100%;
}

.header{
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    
}

.header:hover{
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.41;
}



.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 79px;
    margin-right: 900px;
    
}

.header-logo .logo-text{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
}

.header-logo .logo-text:hover{
    color: #3CB878;
}

.header span:hover{
    color: #3CB878;
}

.header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.calendar{
    fill: white;
}

.calendar:hover{
    fill: #3CB878;
}

.email{
    fill: white;
}

.email:hover{
    fill: #3CB878;
}

.compass{
    fill: white;
}

.compass:hover{
    fill: #3CB878;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 27px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.header-button a{
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.section{
    background-color: white;
    height: 584px;
    width: 444px;
    margin: 0 auto;
    margin-top: 54px;
}

.section .top-buttons{
    display: flex;
    padding-top: 29px;
    align-items: center;
}

#square {
    width: 18px;
    height: 18px;
    background: #3CB878;
}

.vl{
    border-left: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.section-button1{
    margin-left: 43px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.section-button2{
    margin-left: 216px;
    color: #3CB878;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-decoration: none;

}

.section-button2:hover{
    text-decoration: underline;
   color:#01813F;
}

.button-login{
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: 15px;
}

.button-fb{
    display: flex;
    width: 160px;
    height: 48px;
    background: #305DB8;
    align-items: center;
    cursor: pointer;
}

.button-fb:hover{
    background:  #022263;
}

.button-fb .logo-fb{
    margin-left: 17px;
    margin-right: 19px;
}

.button-fb .vl-fb{
   height: 28px;
   border-left: 1px solid #0A162F;
   opacity: 0.1;
   margin-right: 18px;
}

.text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
}

.button-g{
    display: flex;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    align-items: center;
    cursor: pointer;
}

.button-g:hover{
    background: #AB1F09;
}

.button-g .vl-g{
    height: 28px;
    border-left: 1px solid #2B0D09;
    opacity: 0.1;
    margin-right: 30px;
    margin-left: 7px;
 }

 .lines{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

 }

 .lines .hl{
    border: 1px solid #F2F2F2;
    width: 152px;
    height: 1px;

 }

 .lines .text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #848484;
    margin-left: 5px;
    margin-right: 5px;
 }

 .input{
     text-align: center;
     margin-top: 12px;
     margin-bottom: 20px;
 }

 .input .box{
    width: 322px;
    height: 44px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    border-radius: 4px;
    text-indent: 20px;
 }

 .input .box:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
 }

 .input .box:first-child{
     margin-bottom: 15px;
 }

 .checkbox_empty{
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #3CB878;
 }

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label{
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}



input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.button-green{
    width: 324px;
    height: 46px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

.button-green:hover{
    background: #01813F;
    border-radius: 4px;
}

.checkbox-text{
    color: #3CB878;
}

.checkbox-text:hover{
    text-decoration: underline;
    color: #01813F;
}