body{
    font-family: 'Roboto', sans-serif;
    background: rgb(20,20, 20);
    overflow: hidden;
    margin: 50% 0 0 0;
    position: relative;
}

body::after{
    content: '';
    position: fixed;
    top: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, rgba(20,20,20,1) 40%,rgba(20,20,20,0)100%);
}

.wrapper{
    display: flex;
    height: 100%;
   
    margin: 0 auto;
    perspective: 950px ;
      
}

.scroll-text{
    color: rgb(255, 208, 0);
    font-size: 36px;
    font-weight: bold;
    line-height: 1.5em;
    text-align: justify;
    position: relative;
    animation: scroll 30s linear infinite;
  
}

.scroll-text .heading{
    text-align: center;
}

@keyframes scroll{
    from{top: 0; transform: translateZ(0) rotateX(20deg)}
    to {top: -7500px; transform: translateZ(-2500px) rotateX(21deg)}
}