body{
    
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: auto;
}



.header .header-logo{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
    margin-top: 63px;
    
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.header .header-logo1{
    color: deepskyblue;
}

.header-menu{
	
	Height:72px;
	display: flex;
	background-color: #35444F;
	margin: 0 auto;
	margin-top: 38px;
    padding-left: 0px;
	
}

.header-menu li{
	display: flex;
	height: 72px;
	border-right: 1px solid white;
	border-left: 1px solid white ;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
    justify-content: center;
    align-items: center;
}
.header-menu li:hover{
	background-color: #222F3A;
	box-sizing: border-box;
}

.header-menu .header-menu-title-1{
	width: 330px;
	margin-left: 150px;
	text-align: center;
	
}

.header-menu .header-menu-title-2{
	width: 153px;
	text-align: center;
	
}

.header-menu .header-menu-title-3{
	width: 284px;
	text-align: center;

}	

.header-menu .header-menu-title-4{
	width: 201px;
	text-align: center;
	
}	



.header-menu-link{
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
text-decoration: none;
}


.content-wrapp {
    display: flex;
}



.body-menu{
	width: 344px;
	height: 390px;
	border: 1px solid #000000;
	margin-right: 50px;
    margin-top: 48px;

}


.body-menu-title{
	
	font-size: 27px;
	Line-height: 27px;
	color: #485863;
	
	padding-left: 30px;
	box-sizing: border-box;
	list-style-type: none;
	
	
}

.body-menu-title:hover{	
	background-color: #DBDBDB;
	padding-left: 40px;
	transition: .5s ease padding;
}

.body-menu-list{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.body-menu-link{
	display:block;
    text-decoration: none;
    padding-top: 26px;
    padding-bottom: 25px;
    color: #495863;

}

.body-menu-link:hover {
    color: black; 
    text-decoration: none;
   }

.content-wrapp .side-menu li{
     padding-left: 44px;
    padding-right: 50px;
    padding-top: 26px;
    padding-bottom: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: #495863;
    cursor: pointer;

}

.content-wrapp .side-menu a{
text-decoration: none;
}



.container {
	width: 1280px;
	margin: 0 auto;
}

.section{
    display: block;
    
    
}

.section .section-img{
  
   margin-top: 48px; 
  
}

.section .section-text {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2C2C2C;
    width: 885px;
    margin-top: 38px;
    font-family: Roboto;
    text-align: justify;

}



.footer{
    display: flex;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    margin-bottom: 30px;
    height: 100%;
}

.footer .footer-item {
    margin-left: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: #0C1927;
    cursor: pointer;
    text-decoration: none;
}


.footer .footer-item:hover {
    color: #3181A6; 
    text-decoration: underline;
   }

.footer .footer-item1{
    margin-left: 135px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #010101;
}




