html {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%
}

a {
	text-decoration: none;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.container {
	margin: 0 auto;
	
}

.divider {
	border: none;
	background: #F1AD1D;
	width: 62px;
	height: 4px;
}


.header-wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color:  #313131;
  height: 70px;
}

.header-wrap .header-left{
  margin-left: 29px;
  display: flex;
}

.header-wrap .header-left p{
  
  margin: 0px 0px 0px 27px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: white;

}

.header-wrap .header-right{
  width: 68px;
	height: 70px;
	background-color:#000000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.fvc-search{
	width: 17px;
	height: 17px;
}

.menu-list .menu-item {
	display: inline-block;
	justify-content: center;

}

.menu-list .menu-item a {
	
	color: white;
	font-style: normal;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
	
}

.menu-list .menu-item a:hover {
	
	color:#14B9D5;
}


.menu-list .menu-item:not(:first-child){
	padding-left: 35px;
}

.section-feature-1{
    background-image: url(../Dz_4/img/header-background.png);
    width: 100%;
    height: 369px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    position: relative;
    display: flex;
    align-items: center;
}

.section-feature::before{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: block;
    z-index: 1;
}

.section-feature .images-wrap{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;

}

.section-header .section-title{
	color: white;
  font-family: Open Sans;
  font-style: normal;
font-weight: bold;
font-size: 27px;
margin-bottom: 44px;
}


.button-wrap .button-1 {
    background-color:#89CA62;
    border-radius: 4px;
    padding: 17px 19px;
    color: white;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-style: normal;


}

.button-wrap-1 .button-2{
	background-color:#14B9D5;
    border-radius: 4px;
    padding: 17px 30px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-style: normal;
    font-family: Open Sans;
}

.button{
	display: grid;
    grid-template-columns: repeat(2,1fr);
  
	text-align: center;
    margin: 0 auto;
}

.content-text{
	text-align: center;
  font-size: 27px;
  color: #18B4CF;
  font-style: normal;
font-weight: bold;
font-family: Open Sans;
}

.content-img{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
  width: 1200px;
  margin: 0 auto;
	gap: 30px;
  align-items: flex-start;
	
}

.content-img1{
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;

	align-content: center;
	justify-content: center;
	gap: 30px;
	
}

.content-img1 .img-item{
	background-color: white;
  height: fit-content;
}

.content-img2{
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;

	align-content: center;
	justify-content: center;
	gap: 30px;
	
}

.content-img2 .img-item{
	background-color: white;
  height: fit-content;
}

.content-img3{
	display: flex;
	flex-wrap: wrap;
  flex-direction: column;

	align-content: center;
	justify-content: center;
	gap: 30px;
	
}

.content-img3 .img-item{
	background-color: white;
  height: fit-content;
}


.content-img .img-item .img-item-text{
  text-align: center;
  font-style: normal;
font-weight: bold;
font-size: 18px;
font-family: Open Sans;
margin: revert;
}

.section-feature-2{
    min-height: 471px;
    background-image: url(../Dz_4/img/most-p-c/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    position: relative;
    display: grid;
    align-items: center;
    margin-top: 74px;
}

.section-feature-2::before{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    display: block;
    z-index: 1;
}

.section-feature-2  .images-wrap-1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;

}

.g-section .section-header-1 {
    text-align: center;
   
    
}

.g-section .section-header-1 .section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
color: white;

margin-bottom: 0px;
margin-top: 0px;
font-family: Open Sans;
padding-bottom: 182px;
}





.content-text{
    margin-bottom: 52px;
    margin-top: 49px;
}

.images-wrap-grid {
    display: grid;
    grid-template-columns: repeat(7,1fr);
}



 .img-text-title{
    font-size: 18px;
    margin: 0px;
    margin-right: 10px;
    margin-right: 10px;
    font-weight: bold;
    
}

 .img-text{
    font-size: 14px;
    margin-right: 10px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top:0px ;
}

.grid { 
    display: grid;
    grid-template-rows:auto auto auto auto auto ;
    grid-template-columns:  1fr 1fr 1fr 1fr ; 
    grid-gap: 2vw;
    width: 1168px;
    margin: 0 auto;
   justify-items: center;
    grid-template-areas:
    
  "item1 item1 item1 item2"
  "item3 item3 item4 item4"
  "item5 item5 item6 item6"
  "item7 item8 item8 item8"
  

}


  
  .grid>div {
      
    width: fit-content;
    text-align: center;
    
  }
  
  .item1 {
    grid-area: item1;
    background-color: #F9F7F7;
  }

  .item1 .img-text-title{
    margin-top:41px ;
    margin-bottom: 14.5px;
  }
  
  .item2 {
    grid-area: item2;
    background-color: #F9F7F7;
  }
  
  .item3  {
    grid-area: item3;
    background-color: #F9F7F7;
    
  }

  .item3 p{
    text-align: end;
  }

  .item3 img{
    width: 100%;
  }

  .item3 .img-text-title{
    margin-top: 14px;
    margin-bottom: 15px;
  }
  
  .item4 {
    grid-area: item4;
    background-color: #F9F7F7;
  }

  .item4 p{
    text-align: end;
  }
  
  .item4 img{
    width: 100%;
  }

  .item4 .img-text-title{
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .item5 {
    grid-area: item5;
    background-color: #F9F7F7;
  }

  .item5 p{
    text-align: end;
  }

  .item5 img{
    width: 100%;
  }

  .item5 .img-text-title{
    margin-top: 14px;
    margin-bottom: 15px;
  }
  
  .item6 {
    grid-area: item6;
    background-color: #F9F7F7;
  }

  .item6 p{
    text-align: end;
  }

  .item6 img{
    width: 100%;
  }

  .item6 .img-text-title{
    margin-top: 14px;
    margin-bottom: 15px;
  }
  
  .item7 {
    grid-area: item7;
    background-color: #F9F7F7;
  }
  
  .item8 {
    grid-area: item8;
    background-color: #F9F7F7;
  }

  .item8 p{
    text-align: end;
    margin-right: 25px;
  }
  
  .item8 .img-text-title{
    margin-top:41px ;
    margin-bottom: 14.5px;
  }
 
.footer{
  display: grid;
  background-color: black;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  height: 80px;
}

.footer .footer-text{
  color: white;
  font-style: normal;
font-weight: normal;
font-size: 13px;
  text-align: end; 
  font-family: Open Sans;
}

.footer img{
  justify-self: center;
}
  
  




