body{
  
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

.header-menu{
    display: inline-block;
    }

.menu-list a{
        padding: 0;
        list-style: none;
        margin: 0 -72px;
        margin-bottom: 25.5px;
        margin-top: 25.5px;
        color: red;
        text-decoration: none;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
    }


 .menu-items {
        display: inline-block;
        font-weight: normal;
        font-size: 18px;
        line-height: 1.2;
        margin-right: 72px ;
        margin-left:  72px;
        color: red;
       
    }

.foto{
    text-align: center;
}

.section-title h2{
    margin-top: 49px;
    margin-bottom: 38px;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
}

.section-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.section-content p{
    margin-left: 67px;
    margin-right: 67px;
    margin-bottom: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.button-wrap { 
    margin-top: 66px;
}
.button-wrap .button {
    background-color:#FF0000;
    border-radius: 4px;
    padding: 16px 26px;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    font-style: normal;


}

 .copyright{
    text-align: right;
    margin-top: 82px;
    margin-right: 200px;
}

.copyright p{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #373737
}
